body{
  margin: auto;

  background-color: #f4511e;
  border: 2px;
  border-radius: 8px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  /* margin: 0px 0 0 100px; */
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  left: 0;
  
}
#nam:hover {
  opacity: 1
}
#nike{
  /* margin: 0px 0 10px 312px; */
   font-size: 25px;
   left: 100px;
}
#error{
  /* margin: 10px 0 0 312px; */
  color: red;
  
}
.left-align
{
  padding-left: 35%;
}